@import "../../scss/_base.scss";
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    justify-content: space-around;
    clear: both;

    &__text {
      width: 700px;
      height: 350px;
      padding: 30px;
      display: flex;
      /* align-items: center; */
      flex-direction: column;
      justify-content: center;

      &__social {
        &__icon {
          font-size: 1.5rem;
          margin-right: 10px;
        }
      }
      &__desc {
        p {
          margin: 30px 0;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 221.5%;
          /* or 22px */

          letter-spacing: 0.165em;
          text-transform: capitalize;
        }
      }
      &__title {
        display: flex;

        h1 {
          text-align: center;
          justify-content: start;
          align-items: center;
          color: $text-color-primary;

          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 34px;
          line-height: 151%;
          /* or 51px */

          letter-spacing: 0.055em;
          text-transform: uppercase;
        }
      }
    }
    &__img {
      overflow: hidden;
      margin-right: 30px;
      width: 350px;
      height: 350px;
      position: relative;
      border-radius: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      animation: morph 8s ease-in-out infinite 1s;
      background-blend-mode: multiply;
      -webkit-box-shadow: inset 0px 0px 0px 9px #ffffff26;
      -moz-box-shadow: inset 0px 0px 0px 9px #ffffff26;
      box-shadow: inset 0px 0px 0px 9px #ffffff26;

      img {
        border-color: gray;
        border: 5px solid gray;
        width: 100%;
        position: absolute;
        top: 10px;
      }
    }

    @keyframes morph {
      0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
      1% {
        border-radius: 60% 41% 32% 71% / 60% 30% 70% 40%;
      }
      50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      }
      100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
    }
  }
}
