@import "base";

.App {
  display: grid;
  grid-template-columns: repeat(18, 1fr);

  .sidebar {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: $bg-color-secondary;
    height: 100vh;
  }
  .content {
    grid-column-start: 6;
    grid-column-end: 19;
   
  }
}

.home__content__img {
  background-image: url("./images/portfolio2.jpg");
}
